@import 'configs/reset';
@import 'configs/typographies';

.App{

  &, *{
    box-sizing: border-box;
    transition: all 0.3s;
  }

  position: relative;
  display: block;
  float: left;

  width: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;

  text-align: center;

  @import 'components/CustomButton';
  @import 'components/CustomInput';
  @import 'components/Form';
  @import 'components/FormError';
}
