.FormError {
  position: relative;
  display: inline-block;
  float: left;

  width: 100%;
  height: auto;
  margin: 5px;
  padding: 10px;

  color: #ffffff;
  text-align: center;

  background: red;
}
